/* CSS */
:root {
	--main-color: #549635;
	--second-color: #b0b912;
	--text-color: #fff;
}
.button-copy .icon-draw:before
{
    color: #b62682;
    margin-right: .25rem;
    vertical-align: middle;
    font-size: 1.25rem;
    font-weight: 600;
}

.button-copy
{
	
	    border: solid .0625rem #e5e6e1;
    border-radius: 1rem;	
	background-color: #edfca2;
    border-color: #b1d004;
    box-sizing: border-box;
    display: inline-block;
    padding: .25rem 1.25rem;
    margin-top: .375rem;
	        margin: .45rem 0;


		padding-left: 16px;
	padding-right: 16px;
	position: relative;
	font-size: 14px;
	top: 0;
	position: fixed;
	height: 36px;
	width: 200px;
	right: calc(50% - 100px);
	z-index: 9999999;

	
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;

}

.button-copy:hover{
	background-color: #fff;
    color: #b62682;
    border-color: #b62682;
    border-radius: 1rem;
}
